/************************************************************************
                    Source Code Form License Notice
            -------------------------------------------

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

If it is not possible or desirable to put the notice in a particular
file, then You may include the notice in a location (such as a LICENSE
file in a relevant directory) where a recipient would be likely to look
for such a notice.
*************************************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-template-columns: 1fr 680px 1fr;
  margin: 20px;
  grid-gap: 20px;
}
.App .gyro {
  padding: 20px;
  text-align: center;
}
.App .gyro h2 {
  margin-bottom: 20px;
  font-size: 32px;
}
.App .gyro .gyroDataVisualization {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.App .gyro .gyroDataVisualization .gyroXZ {
  width: 200px3;
  height: 200px3;
  border: 2px black solid;
  position: relative;
  transition: 0.05s ease;
}
.App .gyro .gyroDataVisualization .gyroXZ .centerDot {
  width: 6px;
  height: 6px;
  position: absolute;
  top: calc(50% - 3px);
  left: calc(50% - 3px);
  background: #000;
}
.App .gyro .gyroDataVisualization .gyroXZ p.x {
  position: absolute;
  top: calc(50% - 16px);
  left: -24px;
}
.App .gyro .gyroDataVisualization .gyroXZ p.x::after {
  position: absolute;
  content: "";
  width: 200px3;
  height: 1px;
  background: #000;
  left: 22px;
  top: 16px;
}
.App .gyro .gyroDataVisualization .gyroXZ p.z {
  position: absolute;
  left: calc(50% - 5px);
  top: -32px;
}
.App .gyro .gyroDataVisualization .gyroXZ p.z::after {
  position: absolute;
  content: "";
  height: 200px3;
  width: 1px;
  background: #000;
  left: 5px;
  top: 30px;
}
.App .gyro .gyroDataVisualization .gyroY {
  width: 100px3;
  height: 33.3333333333px3;
  border: 2px black solid;
  position: relative;
  transition: 0.05s ease;
  background: linear-gradient(to right, #000 33%, #fff 66%);
}
.App .gyro .gyroDataVisualization .gyroY .centerDot {
  width: 6px;
  height: 6px;
  position: absolute;
  top: calc(50% - 3px);
  left: calc(50% - 3px);
  background: #000;
}
.App .gyro ul {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  gap: 50px;
  margin-top: 30px;
  position: relative;
}
.App .gyro ul li {
  position: absolute;
}
.App .gyro ul li:nth-child(1) {
  top: 0;
  left: 35%;
}
.App .gyro ul li:nth-child(3) {
  top: 0;
  right: 35%;
}
.App .camera {
  position: relative;
}
.App .camera .levelIndicator {
  position: absolute;
  top: 130px;
  left: 190px;
  width: 300px;
  height: 300px;
  border: #fff solid 2px;
  border-radius: 50%;
}
.App .camera .levelIndicator .levelLine {
  position: absolute;
  width: 280px;
  height: 2px;
  top: calc(50% - 1px);
  left: 8px;
  transition: 0.05s ease;
  background: #fff;
}
.App .accel {
  padding: 20px;
  text-align: center;
}
.App .accel h2 {
  margin-bottom: 20px;
  font-size: 32px;
}
.App .accel .accelDataVisualization {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.App .accel .accelDataVisualization .accelXZ {
  width: 200px3;
  height: 200px3;
  border: 2px black solid;
  position: relative;
  transition: 0.05s ease;
}
.App .accel .accelDataVisualization .accelXZ p.x {
  position: absolute;
  top: calc(50% - 16px);
  left: -24px;
}
.App .accel .accelDataVisualization .accelXZ p.x::after {
  position: absolute;
  content: "";
  width: 200px3;
  height: 1px;
  background: #000;
  left: 22px;
  top: 16px;
}
.App .accel .accelDataVisualization .accelXZ p.z {
  position: absolute;
  left: calc(50% - 5px);
  top: -32px;
}
.App .accel .accelDataVisualization .accelXZ p.z::after {
  position: absolute;
  content: "";
  height: 200px3;
  width: 1px;
  background: #000;
  left: 5px;
  top: 30px;
}
.App .accel .accelDataVisualization .accelXZ .centerDot {
  width: 6px;
  height: 6px;
  position: absolute;
  top: calc(50% - 3px);
  left: calc(50% - 3px);
  background: #000;
}
.App .accel .accelDataVisualization .accelY {
  height: 200px3;
  width: 33.3333333333px3;
  border: 2px black solid;
  position: relative;
  transition: 0.05s ease;
  background: linear-gradient(to top, #b46407, 40%, #1599ce 60%);
}
.App .accel .accelDataVisualization .accelY .centerDot {
  width: 6px;
  height: 6px;
  position: absolute;
  top: calc(50% - 3px);
  left: calc(50% - 3px);
  background: #000;
}
.App .accel ul {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  gap: 50px;
  margin-top: 30px;
  position: relative;
}
.App .accel ul li {
  position: absolute;
}
.App .accel ul li:nth-child(1) {
  top: 0;
  left: 35%;
}
.App .accel ul li:nth-child(3) {
  top: 0;
  right: 35%;
}
.App .bmp {
  padding: 20px;
  text-align: center;
}
.App .bmp h2 {
  margin-bottom: 20px;
  font-size: 32px;
}
.App .bmp .altDataVisualization {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.App .bmp .altDataVisualization .alt,
.App .bmp .altDataVisualization .calcAlt {
  width: 33.3333333333px3;
  height: 200px3;
  border: 2px black solid;
  position: relative;
  transition: 0.05s ease;
  background: linear-gradient(to top, #b46407, 40%, #1599ce 60%);
}
.App .bmp .altDataVisualization .alt .centerLine,
.App .bmp .altDataVisualization .calcAlt .centerLine {
  width: 100%;
  height: 1px;
  position: absolute;
  top: calc(50% - 3px);
  left: 0px;
  background: #000;
}
.App .bmp .altDataVisualization .alt .centerLine p,
.App .bmp .altDataVisualization .calcAlt .centerLine p {
  position: absolute;
  font-size: 16px;
  top: -16px;
  left: 50px;
}
.App .bmp ul {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  gap: 50px;
  margin-top: 30px;
  position: relative;
}
.App .bmp ul li {
  position: absolute;
}
.App .bmp ul li:nth-child(1) {
  top: 0;
  left: 20%;
}
.App .bmp ul li:nth-child(3) {
  top: 0;
  right: 15%;
}/*# sourceMappingURL=App.css.map */